/* LOADING ICONS */

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?enctg7');
    src:    url('fonts/icomoon.eot?enctg7#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?enctg7') format('truetype'),
        url('fonts/icomoon.woff?enctg7') format('woff'),
        url('fonts/icomoon.svg?enctg7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e900";
}
.icon-linkedin:before {
    content: "\e901";
}
.icon-github:before {
    content: "\e902";
}
.icon-envelope:before {
    content: "\e903";
}
.icon-medium:before {
    content: "\e904";
}

/* MAIN FILE */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    -webkit-text-size-adjust: none
}
mark {
    background-color: transparent;
    color: inherit
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow: hidden;
    font-size: 18pt;
}
body {
    min-width: 320px;
    line-height: 1.0;
    height: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-image: linear-gradient(to top, rgba(64, 58, 89, 0.478), rgba(64, 58, 89, 0.478)), url('../img/background.jpeg');
    background-position: 0% 0%, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: fixed;
    background-color: #FFFFFF;
}
strong {
    color: inherit;
    font-weight: bolder;
}
em {
    font-style: italic;
}
code {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
    text-indent: 0;
    letter-spacing: 0;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 0.25em;
}
mark {
    background-color: rgba(144, 144, 144, 0.25);
}
a {
    -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    color: inherit;
    text-decoration: underline;
}
s {
    text-decoration: line-through;
}
body:before {
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #010204;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
    -webkit-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
    -ms-transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
    transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
}
body.is-loading:before {
    opacity: 1;
    visibility: visible;
}
#wrapper {
    -webkit-overflow-scrolling: touch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
#main {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
    -moz-transition: all 3s ease 0s;
    -webkit-transition: all 3s ease 0s;
    -ms-transition: all 3s ease 0s;
    transition: all 3s ease 0s;
    -moz-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -ms-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#main > .inner {
    overflow-x: hidden;
    width: 44rem;
    max-width: 100%;
    padding: 3.90625rem 3.125rem;
}
#main > .inner > * {
    margin: 1.25rem 0;
    -moz-transition: opacity 1s ease-in-out 0s;
    -webkit-transition: opacity 1s ease-in-out 0s;
    -ms-transition: opacity 1s ease-in-out 0s;
    transition: opacity 1s ease-in-out 0s;
}
#main > .inner >:first-child {
    margin-top: 0 !important;
}
#main > .inner >:last-child {
    margin-bottom: 0 !important;
}
#main > .inner > .image {
    margin: 1.5625rem 0;
}
#main > .inner > .video {
    margin: 1.5625rem 0;
}
body.is-loading #main {
    opacity: 0;
    -moz-transform: perspective(1000px) rotateY(-15deg);
    -webkit-transform: perspective(1000px) rotateY(-15deg);
    -ms-transform: perspective(1000px) rotateY(-15deg);
    transform: perspective(1000px) rotateY(-15deg);
}
body.is-loading #main > .inner > * {
    opacity: 0;
}
#main > .inner >:nth-child(2) {
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
#main > .inner >:nth-child(3) {
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
#main > .inner >:nth-child(4) {
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
}
#main > .inner >:nth-child(5) {
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}
#credits {
    cursor: default;
    margin-top: 1rem !important;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -ms-max-content;
    width: max-content;
    margin-left: auto !important;
    margin-right: auto !important;
    color: #FFFFFF;
    font-family: 'Exo';
    position: relative;
    letter-spacing: 0.05rem;
    left: 0.025rem;
    font-size: 0.8em;
    line-height: 1.675;
    font-weight: 100;
}
#credits a {
    -moz-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 0.5;
    text-decoration: none !important;
    text-decoration: underline;
}
#credits a:hover {
    opacity: 1;
    text-decoration: none !important;
    text-decoration: none;
}
h1 br + br,
p br + br {
    display: block;
    content: ' ';
}
#text01 br + br {
    margin-top: 0.705rem;
}
#text01 {
    color: #FFFFFF;
    font-family: 'Exo';
    position: relative;
    letter-spacing: 0.35rem;
    left: 0.175rem;
    font-size: 2.625em;
    line-height: 1.175;
    font-weight: 900;
}
#text02 br + br {
    margin-top: 1.005rem;
}
#text02 {
    color: #FFFFFF;
    font-family: 'Exo';
    position: relative;
    letter-spacing: 0.05rem;
    left: 0.025rem;
    font-size: 1em;
    line-height: 1.675;
    font-weight: 100;
}
#credits br + br {
    margin-top: 1.005rem;
}
hr {
    width: 100%;
    position: relative;
    padding: 0;
    border: 0;
}
hr:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
#divider01 {
    height: 1rem;
    line-height: 1rem;
}
#divider01:before {
    width: 23%;
    background-color: rgba(255, 255, 255, 0.231);
    height: 1px;
}
.icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
}
.icons li {
    display: inline-block;
    vertical-align: middle;
}
.icons li a {
    display: block;
    color: inherit;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0;
}
.icons li a .label {
    display: none;
}
#icons01 {
    font-size: 1.25em;
}
#icons01 li {
    margin: 0.625rem;
}
#icons01 li a {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 2em;
}
#icons01 .n01 {
    color: #FFFFFF;
    border: solid 1px #48A3B0;
}
#icons01 .n02 {
    color: #FFFFFF;
    border: solid 1px #93B4C7;
}
#icons01 .n03 {
    color: #FFFFFF;
    border: solid 1px #93B4C7;
}
#icons01 .n04 {
    color: #FFFFFF;
    border: solid 1px #93B4C7;
}
#icons01 .n05 {
    color: #FFFFFF;
    border: solid 1px #93B4C7;
}
@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #main > .inner {
        padding: 3rem 2rem;
    }
}
@media (max-width: 360px) {
    #main > .inner {
        padding: 2.5rem 1.25rem;
    }
    #text01 {
        font-size: 2em;
    }
    #icons01 li {
        margin: 0.46875rem;
    }
}
